html{
    background-color: white;
}

body{
width:100%;
height:100%;
margin:0px;
padding: 0px;

}

.content{
width:100%;
overflow: hidden;
}
.header{
    width:100%;
    height:160px;
}
.icons{
    mix-blend-mode:difference;

}